h1,h2,h3,p{
  margin: 0px;
  padding: 0px;
}
table, td, th{
  border: 1px solid black;
  text-align: center;
}
.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #8ACA2B;
    width: 100px;
    height: 100px;
    animation: loading 2s linear infinite;
  }
  
  @keyframes loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .wrapper{
    background-image:
    linear-gradient(to right, rgba(26, 25, 25, 0.457), rgba(0, 0, 0, 0.77)),
    url('https://images.unsplash.com/photo-1583324113626-70df0f4deaab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNvdmlkJTIwMTl8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .container p{
    font-size: 20px;
    background-color: #8ACA2B;
    padding: 10px;
  }
  .worldData{
    height: auto;
    width: 90%;
    text-align: center;
    color: white;
  }
  .worldData >div{
    padding-top: 70px;
  }
  .worldData > div h1{
    color: #8ACA2B;
    padding-bottom: 10px;
  }
  .newCase{
    background-color: #FFEEAA;
  }
  .death{
    background-color: red !important;
    color: white;
  }
 
  thead > tr {
    background-color: silver;
  }
  .loading-wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }